<div class="container">

  <app-header></app-header>

    <div id="greet">Hallo,</div>

    <div id="tekstbody">
        <div class="profile_pic">
            <img src="assets/images/36815680_10205047215896292_4855148202401202176_n.jpg" alt="aizo" class="full_width"/>
        </div>
        mijn naam is Aizo Krikke. Ik ben onder andere opgeleid tot gecertificeerd
        <a href="https://bridgeman.nl/opleiding-transformatiecoach/" target="_blank">Bridgeman Transformatie Coach</a>. Bij mij kun je terecht voor sessies
        waarin we op zoek gaan naar de wortel onder de belemmerende ervaringen die je nu ervaart in je leven. We gaan op
        zoek naar de trauma's en blokkades, die misschien wel ongemerkt hebt opgelopen in jouw leven. Deze transformeren
        we dan, zodat de wortel onder de ervaring niet langer bestaat en daarmee verdwijnen ook de klachten. Soms al meteen,
        vaak in de dagen en/of weken erna.<br><br>
        Wil je helemaal met jezelf aan de slag en wil je weten wat jouw zielsmissie is, dan is er een speciaal en uitgebreid
        programma waarin je dit in 10 sessies gaat ervaren en vinden: Het Lichter Leven programma.

        <br><br>
        Fijn dat je langs komt op deze site. Zoals je ziet wordt er dit moment nog druk gesleuteld. Maar kom gauw terug
        om het resultaat te zien.
        <br>
        <br>
        Kun je niet wachten of wil je meer weten, mail dan naar <a href="mailto: info@aizo.nl">info@aizo.nl</a>
        of bel 06 - 81 00 06 81
    </div>
    <div id="signature">
        In liefde en licht,<br>
        heb een fijne dag!
    </div>



    <div class="closer"></div>
</div>


